.navbutton {
    background-color: lightslategray;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}

/* This turns the dropdown button off */
.dropdown-box {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    margin-left: -30px;
}

/* This turns on the dropdown button when hover over */
.navbutton:hover .dropdown-box{
    display: block;
}

.dropdown-box .navbutton {
    background-color: magenta;
}

.dropdown-box .navbutton:hover {
    background-color: rgb(238, 255, 0);
    transition-duration: 1s;
}
